// Place for temp fixes

.form-floating > .form-select {
  padding-top: 1.625rem !important;
  padding-bottom: 0.625rem !important;
}

// temp fix for scrollbar styling (wip)
@import "scrollbar";

// temp fix .chartjs-tooltip-body-item padding
@import "charts";

/* Fix CoreUI validation losing border radius */
input[cFormControl],
input.form-control {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

c-form-feedback {
    text-align: start !important;
}