// @import 'variable.scss';
// @import 'prefix.scss';
@use 'variable' as *;
@use 'prefix' as *;

// default btn ------------------------------------------------
.button {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 90px;
    @extend .subtitle-medium;
    cursor: pointer;
    border: none;
    width: fit-content;
    // min-width: 200px;

    &.primary {
        background-color: var(--primary-600);
        color: var(--white);

        &:hover {
            background-color: var(--primary-500);
        }

        &.disabled {
            background-color: var(--primary-300) !important;
            pointer-events: none;
        }

        &:active {
            background-color: var(--primary-700);
        }

    }

    &.secondary {
        background-color: var(--gray-500);
        color: var(--white);

        &:hover {
            background-color: var(--gray-400);
        }

        &.disabled {
            background-color: var(--gray-300) !important;
            pointer-events: none;
        }

        &:active {
            background-color: var(--gray-500);
        }

    }

    &.outline {
        background-color: var(--white);
        color: var(--gray-600);

        // this is a easy way to put borderswithout changing  the heigth of the btn
        box-shadow: inset 0 0 0 1px var(--gray-400);

        &:hover {
            color: var(--primary-600);
            box-shadow: inset 0 0 0 1px var(--primary-600);
        }

        &.disabled {
            color: var(--gray-200) !important;
            box-shadow: inset 0 0 0 1px var(--gray-200) !important;
            pointer-events: none;
        }

        &:active {
            color: var(--primary-700);
            box-shadow: inset 0 0 0 1px var(--primary-700);
        }

    }

    &.with-icon {
        gap: 4px;

        span {
            font-size: 18px;
        }
    }

    &.success {
        background-color: var(--success-700);
        color: var(--white);

        &:hover {
            background-color: var(--success-600);
        }

        &.disabled {
            background-color: var(--success-300) !important;
            pointer-events: none;
        }

        &:active {
            background-color: var(--success-700);
        }

    }

    &.error {
        background-color: var(--error-700);
        color: var(--white);

        &:hover {
            background-color: var(--error-600);
        }

        &.disabled {
            background-color: var(--error-300) !important;
            pointer-events: none;
        }

        &:active {
            background-color: var(--error-700);
        }

    }

    &.full-width{
        width: 100%;
    }
}

.dual-btn {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 12px;
    width: fit-content;

    &.no-top-space {
        padding-top: 0;
    }

    &.bottom-only {
        padding-top: 0;
        padding-bottom: 24px;
    }
}

// header btn -----------------------------------------------
.icon-button {
    display: flex;
    flex-direction: row;
    padding: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: var(--gray-600);
    background-color: var(--gray-200);

    span {
        font-size: 18px;
    }

    &:hover {
        background-color: var(--gray-300);
    }

    &.logout {
        color: var(--white);
        background-color: var(--error-700);

        &:hover {
            background-color: var(--error-600);
        }
    }
}

// menu btn ----------------------------------------------------

.menu-option {
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 4px;
    @extend .subtitle-medium;
    width: 100%;
    gap: 8px;
    color: var(--white);

    span {
        font-size: 18px;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &:hover {
        background-color: var(--primary-800);
        // box-shadow: inset 0 0 0 1px var(--primary-600);
    }

    &.selected {
        background-color: var(--white);
        color: var(--primary-700);

        // &:hover {
        //     box-shadow: none;
        // }
    }

    &.disabled {
        color: var(--primary-600);
        pointer-events: none;
    }

}

.sub-options {
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 8px 12px;
    padding-left: 24px;
    border-radius: 4px;
    @extend .subtitle-regular;
    width: 100%;
    gap: 8px;
    color: var(--white);

    &:hover {
        box-shadow: inset 0 0 0 1px var(--primary-600);
    }

    &.selected {
        background-color: var(--primary-600);
        color: var(--white);

        &:hover {
            box-shadow: none;
        }
    }

    &.disabled {
        color: var(--primary-600);
        pointer-events: none;
    }
}