.modal-content {
    max-height: 90vh;
    overflow-y: scroll;
}

.modal-body {
    overflow-y: auto;
    max-height: calc(90vh - 120px);
}

.my-large-modal .modal-dialog {
    max-width: 60vw !important; 
  }