// @import 'variable.scss';
@use 'variable' as *;
// Text Styles

// display1 - 64px ---------------------------------

.display1-regular {
  font-family: rFont;
  font-size: 64px;
}

.display1-medium {
  font-family: mFont;
  font-size: 64px;
}

.display1-semibold {
  font-family: sboFont;
  font-size: 64px;
}

// display2 - 48px ---------------------------------

.display2-regular {
  font-family: rFont;
  font-size: 48px;
}

.display2-medium {
  font-family: mFont;
  font-size: 48px;
}

.display2-semibold {
  font-family: sboFont;
  font-size: 48px;
}

// heading1 - 30px ---------------------------------

.heading1-regular {
  font-family: rFont;
  font-size: 30px;
  line-height: 38px;
}

.heading1-medium {
  font-family: mFont;
  font-size: 30px;
  line-height: 38px;
}

.heading1-semibold {
  font-family: sboFont;
  font-size: 30px;
  line-height: 38px;
}

// heading2 - 24px ---------------------------------

.heading2-regular {
  font-family: rFont;
  font-size: 24px;
  line-height: 32px;
}

.heading2-medium {
  font-family: mFont;
  font-size: 24px;
  line-height: 32px;
}

.heading2-semibold {
  font-family: sboFont;
  font-size: 24px;
  line-height: 32px;
}

// heading3 - 20px ---------------------------------

.heading3-regular {
  font-family: rFont;
  font-size: 20px;
  line-height: 28px;
}

.heading3-medium {
  font-family: mFont;
  font-size: 20px;
  line-height: 28px;
}

.heading3-semibold {
  font-family: sboFont;
  font-size: 20px;
  line-height: 28px;
}

// title - 18px ---------------------------------

.title-regular {
  font-family: rFont;
  font-size: 18px;
  line-height: 26px;
}

.title-medium {
  font-family: mFont;
  font-size: 18px;
  line-height: 26px;
}

.title-semibold {
  font-family: sboFont;
  font-size: 18px;
  line-height: 26px;
}

// subtitle - 16px ---------------------------------

.subtitle-regular {
  font-family: rFont;
  font-size: 16px;
  line-height: 24px;
}

.subtitle-medium {
  font-family: mFont;
  font-size: 16px;
  line-height: 24px;
}

.subtitle-semibold {
  font-family: sboFont;
  font-size: 16px;
  line-height: 24px;
}

// body - 14px ---------------------------------

.body-regular {
  font-family: rFont;
  font-size: 14px;
  line-height: 22px;
}

.body-medium {
  font-family: mFont;
  font-size: 14px;
  line-height: 22px;
}

.body-semibold {
  font-family: sboFont;
  font-size: 14px;
  line-height: 22px;
}

// caption - 12px ---------------------------------

.caption-regular {
  font-family: rFont;
  font-size: 12px;
  line-height: 18px;
}

.caption-medium {
  font-family: mFont;
  font-size: 12px;
  line-height: 18px;
}

.caption-semibold {
  font-family: sboFont;
  font-size: 12px;
  line-height: 18px;
}

// ------------------------------------------------