<h6 class="fw-semibold mb-3">Your Assigned Routes</h6>

<div class="d-flex flex-column gap-2">
  <c-card *ngFor="let route of routes; let i = index" class="shadow-sm route-card">
    <c-card-body (click)="toggleRoute(i)" class="route-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <svg cIcon name="cilMap" class="me-2 text-secondary"></svg>
          <div>
            <h6 class="fw-semibold mb-0">{{ route.name }}</h6>
            <small class="text-muted">
              {{ getVisitedCount(route.customers) }} /
              {{ route.customers.length }} Visited
            </small>
          </div>
        </div>
        <svg cIcon [name]="route.expanded ? 'cilChevronTop' : 'cilChevronBottom'"
          class="text-secondary transition-icon"></svg>
      </div>
    </c-card-body>

    <div class="customer-list" [class.expanded]="route.expanded">
      <div *ngFor="let customer of route.customers" class="d-flex justify-content-between align-items-center px-3 py-2 g-2">
        <div>
          <div class="fw-semibold">{{ customer.name }}</div>
          <h6 class="text-muted">No 56/B,Nwam Mawatha,Battaramulle</h6>
          <small class="text-muted">{{ customer.shop }}</small>
        </div>

        <span class="badge" [ngClass]="customer.visited ? 'bg-success' : 'bg-danger'">
          {{ customer.visited ? 'Visited' : 'Not Visited' }}
        </span>
      </div>
    </div>
  </c-card>
</div>