<c-modal id="liveDemoModal" size="lg" alignment="center" class="modal-scrollable" [visible]="visible"
  (visibleChange)="onChangeModalVisibility($event)">
  <c-modal-header>
    <h5 cModalTitle> View Audit</h5>
    <button (click)="onCloseModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="g-3" *ngIf="audit">
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Username</label>
        <span class="fw-semibold">{{ audit.username | empty }}</span>
      </c-col>
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Role</label>
        <span class="fw-semibold">{{ audit.role | empty }}</span>
      </c-col>
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Action</label>
        <span class="badge bg-primary">{{ audit.action | empty }}</span>
      </c-col>
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Status</label>
        <span class="badge" [ngClass]="audit.status === 'SUCCESS' ? 'bg-success' : 'bg-danger'">
          {{ audit.status | empty }}
        </span>
      </c-col>
      <!-- <c-col md="6">
        <label class="text-medium-emphasis small d-block">IP Address</label>
        <code class="text-primary">{{ audit.ipAddress | empty }}</code>
      </c-col> -->
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Created At</label>
        <span class="fw-semibold">{{ audit.createdAt | date:'medium' | empty }}</span>
      </c-col>
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Entity Name</label>
        <span class="fw-semibold">{{ audit.entityName | empty }}</span>
      </c-col>
      <c-col md="6">
        <label class="text-medium-emphasis small d-block">Entity ID</label>
        <span class="fw-semibold">{{ audit.entityId | empty }}</span>
      </c-col>
      <c-col xs="12">
        <label class="text-medium-emphasis small d-block">User Agent</label>
        <span class="small text-muted">{{ audit.userAgent | empty }}</span>
      </c-col>
      <c-col xs="12">
        <label class="text-medium-emphasis small d-block">Description</label>
        <div class="p-2 border rounded bg-light">
          {{ audit.description | empty }}
        </div>
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="onCloseModal()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>