<h6 cTextColor="secondary">ROUTES OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Routes'" class="mb-3" color="primary" padding value="100">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilStream" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Active Routes'" class="mb-3" color="success" padding value="50">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilStream" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Suspended Routes'" class="mb-3" color="danger" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilStream" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Route List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openRouteView(ActionButton.ADD)">+ Add Route</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchRouteForm" (ngSubmit)="onRouteSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Route</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchRouteForm.dirty && searchRouteForm.value && hasAnyRouteValue()" cButton type="button"
          variant="outline" color="danger" (click)="onRouteClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            ID
          </th>
          <th>
            Route Name
          </th>
          <th>Description</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!routeList || routeList.length === 0">
          <td colspan="6" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let route of routeList; index as i">
          <td class="text-center">
            {{route.routeId | empty}}
          </td>
          <td>
            {{route.routeName | empty}}
          </td>
          <td>
            {{route.description | empty}}
          </td>
          <td class="text-center">
            {{route.statusDescription | empty}}
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openRouteView(ActionButton.VIEW,route)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit"
              (click)="openRouteView(ActionButton.EDIT,route)">
              <svg cIcon name="cilPencil"></svg>
            </button>

            <!-- Delete -->
            <button cButton color="danger" size="sm" variant="ghost" title="Delete" (click)="onDeleteRoute(route.routeId)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="routeCount !== 0" [totalItems]="routeCount" [(pageSize)]="routePageSize"
      [(currentPage)]="currentRoutePage" (currentPageChange)="goToRoutePage($event)"
      (pageSizeChange)="onRoutePageSizeChange($event)"></app-paginator>
  </c-card-body>

</c-card>

<hr>

<h6 cTextColor="secondary">CUSTOMERS OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Customers'" class="mb-3" color="primary" padding value="100">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilGroup" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Active Customers'" class="mb-3" color="success" padding value="50">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilUser" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Suspended Customers'" class="mb-3" color="danger" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilUserUnfollow" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Customer List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openCustomerView()">+ Add Customer</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchCustomerForm" (ngSubmit)="onCustomerSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Route</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchCustomerForm.dirty && searchCustomerForm.value && hasAnyCustomerValue()" cButton
          type="button" variant="outline" color="danger" (click)="onCustomerClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            <svg cIcon name="cilPeople"></svg>
          </th>
          <th class="text-center">
            Employee ID
          </th>
          <th>Name</th>
          <th>NIC</th>
          <th class="text-center">License</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!customerList || customerList.length === 0">
          <td colspan="6" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let user of customerList; index as i">
          <td class="text-center">
            <c-avatar size="md" src="./assets/images/customer-logo.png"></c-avatar>
          </td>
          <td class="text-center">
            EMP12
          </td>
          <td>
            <div>{{ user.customerName }}</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                Route | Battaramulle
              </span>
            </div>
          </td>
          <td>
            Supun Perera
          </td>
          <td class="text-center">
            <div class="fw-semibold text-nowrap">LKR 12,500</div>
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit">
              <svg cIcon name="cilPencil"></svg>
            </button>

            <!-- Delete -->
            <button (click)="deleteCustomer()" cButton color="danger" size="sm" variant="ghost" title="Delete">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="customerCount !== 0" [totalItems]="customerCount" [(pageSize)]="customerPageSize"
      [(currentPage)]="currentCustomerPage" (currentPageChange)="goToCustomerPage($event)"
      (pageSizeChange)="onCustomerPageSizeChange($event)"></app-paginator>
  </c-card-body>
</c-card>


<app-customer-view (tableRefresh)="onCustomerRefresh()" #customerModal></app-customer-view>
<app-route-view (tableRefresh)="onCustomerRefresh()" #routeModal></app-route-view>