<h6 cTextColor="secondary">OVERVIEW</h6>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Audit Trail List</h4>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputPaymentValue">Search Username</label>
        <input cFormControl id="inputPaymentValue" type="text" formControlName="username" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputCustomerValue">Search Action</label>
        <input cFormControl id="inputCustomerValue" type="text" formControlName="action" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="status">Status</label>
        <select cFormControl id="status" class="form-select" formControlName="status">
          <option *ngFor="let status of statusList" [value]="status['code']">{{ status['description'] }}</option>
        </select>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchForm.dirty && searchForm.value && hasAnyValue()" cButton type="button" variant="outline"
          color="danger" (click)="onClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info" (click)="onExport()">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            ID
          </th>
          <th>Username</th>
          <th>Role</th>
          <th class="text-center">Action</th>
          <th class="text-center">Status</th>
          <th class="text-center">Date</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!auditList || auditList.length === 0">
          <td colspan="7" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let audit of auditList; index as i">
          <td class="text-center">
            {{ audit.auditId | empty}}
          </td>
          <td>
            {{ audit.username | empty}}
          </td>
          <td>
            {{ audit.role | empty}}
          </td>
          <td class="text-center">
            {{ audit.action | empty}}
          </td>
          <td class="text-center">
             <c-alert color="info" class="alert-compact">
              {{ audit.status | empty}}
            </c-alert>
          </td>
          <td class="text-center">
            {{ audit.createdAt | date:'mediumDate' | empty}}
          </td>
          <td class="text-center">
            <!-- View -->
            <button (click)="openViewAuditModal(audit)" cButton color="info" size="sm" variant="ghost" class="me-2"
              title="View">
              <svg cIcon name="cilCommand"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="count !== 0" [totalItems]="count" [(pageSize)]="pageSize" [(currentPage)]="currentPage"
      (currentPageChange)="goToPage($event)" (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
  </c-card-body>


</c-card>


<app-view-audit #auditModal></app-view-audit>