<h6 class="fw-semibold mb-3">Products You Have</h6>

<div class="row row-cols-1 g-2">
  <div class="col">
    <button cButton color="danger" variant="outline"
      class="w-100 fw-semibold mb-2 d-flex align-items-center justify-content-center gap-2">
      <svg cIcon name="cilActionUndo" size="sm"></svg>
      Return All
    </button>
  </div>

  <div class="col" *ngFor="let product of productList">
    <c-card class="shadow-sm" [color]="product.availableQuantity <= 5 ? 'danger' : 'light'"
      [textColor]="product.availableQuantity <= 5 ? 'white' : 'dark'">
      <c-card-body class="p-3">
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="fw-semibold mb-0">{{ product.productName }}</h5>
          <h1><c-badge [ngClass]="product.availableQuantity <= 5 ? 'bg-warning text-dark' : 'bg-success'">&times;
              {{ product.availableQuantity }}</c-badge></h1>
        </div>

        <p class="small mb-2" [ngClass]="product.availableQuantity <= 5 ? 'text-light opacity-75' : 'text-muted'">
          {{ product.description }}
        </p>
        <p class="small mb-2" [ngClass]="product.availableQuantity <= 5 ? 'text-light opacity-75' : 'text-muted'">
          M.Date - {{ product.manufactureDate }}
        </p>
        <p class="small mb-2" [ngClass]="product.availableQuantity <= 5 ? 'text-light opacity-75' : 'text-muted'">
          EX.Date - {{ product.expiryDate }}
        </p>

        <div class="d-flex justify-content-between align-items-center">
          <div>
            <small class="d-block">Min Price</small>
            <span class="fw-semibold text-secondary">LKR {{ product.minSalesPrice | number }}</span>
          </div>
          <div class="text-end">
            <small class="d-block">Price</small>
            <span class="fw-semibold text-dark">
              LKR {{ product.price | number }}
            </span>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </div>
</div>

<app-sales-empty-data name="Products" *ngIf="!productList.length"></app-sales-empty-data>