<div class="bg-light min-vh-100 d-flex flex-row align-items-center justify-content-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6" lg="5">
        <c-card class="shadow border-0">
          <c-card-body class="p-5 text-center">

            <img src="assets/images/new-company-logo.png" alt="Company Logo" class="mb-4 logo" />

            <h3 class="mb-2 fw-semibold text-success">Sales Portal Login</h3>
            <p class="text-medium-emphasis mb-4">
              Access your sales dashboard and delivery tracking tools
            </p>

            <form Form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input cFormControl placeholder="Username" type="text" formControlName="username" appValidate
                  fieldName="Username" />
              </c-input-group>

              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input cFormControl placeholder="Password" type="password" formControlName="password" appValidate
                  fieldName="Password" />
              </c-input-group>

              <div class="d-grid mb-3">
                <button cButton type="submit" color="success" class="px-4 py-2" >
                  Login
                </button>
              </div>
              <div class="d-flex justify-content-center">
                <!-- <a href="#" class="text-decoration-none small">Forgot password?</a> -->
                <!-- <a routerLink="/register-sales" class="text-decoration-none small text-success fw-semibold">
                  Register New Sales Account
                </a> -->
              </div>
            </form>
            <small class="text-muted d-block mt-3">Version {{version}}</small>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>