<c-modal id="liveDemoModal" size="lg" alignment="center" class="modal-scrollable" [visible]="visible"
  (visibleChange)="onChangeModalVisibility($event)">
  <form cForm [formGroup]="productDetailForm" (ngSubmit)="onSubmit()">
    <c-modal-header>
      <h5 cModalTitle *ngIf="action === ActionButton.EDIT"> Edit Stock</h5>
      <h5 cModalTitle *ngIf="action === ActionButton.VIEW"> View Stock</h5>
      <button (click)="onCloseModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-row class="g-3">
        <c-col md="12">
          <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered align-middle bg-white">
              <thead class="bg-light">
                <tr>
                  <th colspan="2" class="fw-semibold">Product Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="bg-light">ID</th>
                  <td>{{product?.productId | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Product Name</th>
                  <td>{{product?.productName | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Batch Code</th>
                  <td>{{product?.batchCode | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Total Added Quantity</th>
                  <td>{{product?.totalAddedQuantity | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Current Quantity</th>
                  <td>{{product?.currentQuantity | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Min Price</th>
                  <td>{{product?.minSalesPrice | numberSeparate }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Price</th>
                  <td>{{product?.price | numberSeparate }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Manufacture Date</th>
                  <td>{{product?.manufactureDate | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Expire Date</th>
                  <td>{{product?.expiryDate | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Usable Days</th>
                  <td>{{product?.usableDays | empty }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </c-col>

        <c-col md="6">
          <label cLabel for="quantity">Quantity</label>
          <input id="quantity" type="number" class="form-control" formControlName="quantity" appValidate
            fieldName="Quantity" />
        </c-col>

        <c-col md="6">
          <label cLabel for="description">Remark</label>
          <input id="description" type="text" class="form-control" formControlName="reason" appValidate
            fieldName="Reason" />
        </c-col>
      </c-row>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="onCloseModal()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" type="submit" *ngIf="action === ActionButton.EDIT">Edit Stock Item</button>
    </c-modal-footer>
  </form>
</c-modal>