<h6 cTextColor="secondary">ITEMS OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Items'" class="mb-3" color="primary" padding value="100">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilList" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Active Items'" class="mb-3" color="success" padding value="50">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilList" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Suspended Items'" class="mb-3" color="danger" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilList" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Item List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openItemView(ActionButton.ADD)">+ Add Item</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchItemForm" (ngSubmit)="onItemSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Item</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchItemForm.dirty && searchItemForm.value && hasAnyItemValue()" cButton type="button"
          variant="outline" color="danger" (click)="onItemClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            ID
          </th>
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Alert Quantity</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!itemList || itemList.length === 0">
          <td colspan="6" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let item of itemList; index as i">
          <td class="text-center">
            {{item.nameId | empty}}
          </td>
          <td>
            {{ item.name | empty }}
          </td>
          <td>
            {{ item.description | empty }}
          </td>
          <td class="text-center">
            {{ item.alertQuantity | numberSeparate}}
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openItemView(ActionButton.VIEW,item)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit"
              (click)="openItemView(ActionButton.EDIT,item)">
              <svg cIcon name="cilPencil"></svg>
            </button>

            <!-- Delete -->
            <button cButton color="danger" size="sm" variant="ghost" title="Delete" (click)="onDeleteItem(item.nameId)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="itemCount !== 0" [totalItems]="itemCount" [(pageSize)]="itemPageSize"
      [(currentPage)]="currentItemPage" (currentPageChange)="goToItemPage($event)"
      (pageSizeChange)="onItemPageSizeChange($event)"></app-paginator>
  </c-card-body>

</c-card>

<hr>

<h6 cTextColor="secondary">BATCHES OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Batches'" class="mb-3" color="primary" padding value="100">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilObjectGroup" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Active Batches'" class="mb-3" color="success" padding value="50">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilObjectGroup" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Suspended Batches'" class="mb-3" color="danger" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilObjectGroup" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Batches List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openBatchView(ActionButton.ADD)">+ Add Batch</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchBatchForm" (ngSubmit)="onBatchSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Batch</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchBatchForm.dirty && searchBatchForm.value && hasAnyBatchValue()" cButton type="button"
          variant="outline" color="danger" (click)="onBatchClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            ID
          </th>
          <th>Batch Code</th>
          <th>Manufacture Date</th>
          <th>Expire Date</th>
          <th class="text-center">Usable Days</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Warehouse</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!batchList || batchList.length === 0">
          <td colspan="8" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let batch of batchList; index as i">
          <td class="text-center">
            {{batch.batchId | empty}}
          </td>
          <td>
            {{batch.batchCode | empty}}
          </td>
          <td>
            {{batch.manufactureDate | empty}}
          </td>
          <td>
            {{batch.expiryDate | empty}}
          </td>
          <td class="text-center">
            {{batch.usableDays | empty}}
          </td>
          <td class="text-center">
            {{batch.remainingQuantity | empty}}
          </td>
          <td class="text-center">
            {{batch.warehouseLocation | empty}}
          </td>

          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openBatchView(ActionButton.VIEW,batch)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <!-- <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit">
              <svg cIcon name="cilPencil"></svg>
            </button> -->

            <!-- Delete -->
            <button cButton color="danger" size="sm" variant="ghost" title="Delete"
              (click)="onDeleteBatch(batch.batchId)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="batchCount !== 0" [totalItems]="batchCount" [(pageSize)]="batchPageSize"
      [(currentPage)]="currentBatchPage" (currentPageChange)="goToBatchPage($event)"
      (pageSizeChange)="onBatchPageSizeChange($event)"></app-paginator>
  </c-card-body>

</c-card>


<app-add-edit-view-batch (tableRefresh)="onBatchRefresh()" #addEditViewBatchModal></app-add-edit-view-batch>
<app-add-edit-view-item (tableRefresh)="onItemRefresh()" #addEditViewItemModal></app-add-edit-view-item>