<div class="bottom-sheet-handle"></div>
<div class="card border-0 p-3">
  <div class="text-center mb-3 ">
    <h6 class="fw-bold">Quick Access Menu</h6>
  </div>

  <div class="row w-100 gx-3 mx-0"> <!-- Add mx-0 -->
    <div class="col-4">
      <button (click)="navigateToBill('new')"
        class="btn btn-primary w-100 py-3 d-flex flex-column align-items-center justify-content-center" type="button">
        <c-icon name="cil-user-follow" size="xl" class="mb-2"></c-icon>
        <span class="fw-semibold">New</span>
      </button>
    </div>
    <div class="col-4">
      <button (click)="navigateToBill('existing')"
        class="btn btn-warning w-100 py-3 d-flex flex-column align-items-center justify-content-center" type="button">
        <c-icon name="cil-user" size="xl" class="mb-2"></c-icon>
        <span class="fw-semibold">Existing</span>
      </button>
    </div>
    <div class="col-4">
      <button (click)="navigateToPayment()"
        class="btn btn-dark w-100 py-3 d-flex flex-column align-items-center justify-content-center" type="button">
        <c-icon name="cilCreditCard" size="xl" class="mb-2"></c-icon>
        <span class="fw-semibold">Payment</span>
      </button>
    </div>
  </div>
</div>
