<c-modal id="liveDemoModal" size="lg" alignment="center" class="modal-scrollable" [visible]="visible"
  (visibleChange)="onChangeModalVisibility($event)">
  <form cForm [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <c-modal-header>
      <h5 cModalTitle *ngIf="action === ActionButton.ADD"> Add New Product</h5>
      <h5 cModalTitle *ngIf="action === ActionButton.EDIT"> Edit Product</h5>
      <h5 cModalTitle *ngIf="action === ActionButton.VIEW"> View Product</h5>
      <button (click)="onCloseModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-row class="g-3">
        <h6 class="mb-3">Product Information</h6>
        <c-col md="6">
          <label cLabel for="item">Item</label>
          <ng-select cFormControl name="item" [items]="itemList" bindLabel="name" bindValue="nameId" [searchable]="true"
            [clearable]="true" placeholder="Select a item" formControlName="productNameId"
            (change)="selectedItem = $event" appValidate fieldName="Item">
          </ng-select>
        </c-col>

        <c-col md="6">
          <label cLabel for="batch">Batch</label>
          <ng-select cFormControl name="batch" [items]="batchList" bindLabel="batchCode" bindValue="batchId"
            [searchable]="true" [clearable]="true" placeholder="Select a batch" formControlName="batchId"
            (change)="selectedBatch = $event" appValidate fieldName="Batch">
          </ng-select>
        </c-col>

        <!-- Item Details Card -->
        <c-col md="6">
          <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered align-middle bg-white">
              <thead class="bg-light">
                <tr>
                  <th colspan="2" class="fw-semibold">Item Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="bg-light">ID</th>
                  <td>{{ selectedItem?.nameId | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Item Name</th>
                  <td>{{ selectedItem?.name | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Description</th>
                  <td>{{ selectedItem?.description | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Alert Quantity</th>
                  <td>{{ selectedItem?.alertQuantity | empty }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </c-col>

        <!-- Batch Details Card -->
        <c-col md="6">
          <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered align-middle bg-white">
              <thead class="bg-light">
                <tr>
                  <th colspan="2" class="fw-semibold">Batch Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="bg-light">ID</th>
                  <td>{{ selectedBatch?.batchId | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Batch Code</th>
                  <td>{{ selectedBatch?.batchCode | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Manufacture Date</th>
                  <td>{{ selectedBatch?.manufactureDate | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Expiry Date</th>
                  <td>{{ selectedBatch?.expiryDate | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Usable Days</th>
                  <td>{{ selectedBatch?.usableDays | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Remaining Quantity</th>
                  <td>{{ selectedBatch?.remainingQuantity | empty }}</td>
                </tr>
                <tr>
                  <th class="bg-light">Warehouse Location</th>
                  <td>{{ selectedBatch?.warehouseLocation | empty }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </c-col>


        <c-col md="6">
          <label cLabel for="description">Description</label>
          <input id="description" type="text" class="form-control" formControlName="description" appValidate
            fieldName="Description" />
        </c-col>

        <c-col md="6">
          <label cLabel for="quantity">Quantity</label>
          <input id="quantity" type="number" class="form-control" formControlName="quantity" appValidate
            fieldName="Quantity" />
        </c-col>

        <c-col md="6">
          <label cLabel for="price">Price</label>
          <input id="price" type="number" class="form-control" formControlName="price" appValidate fieldName="Price" />
        </c-col>

        <c-col md="6">
          <label cLabel for="minSalesPrice">Min Sales Price</label>
          <input id="minSalesPrice" type="number" class="form-control" formControlName="minSalesPrice" appValidate
            fieldName="Min Sales Price" />
        </c-col>
      </c-row>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="onCloseModal()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" type="submit" *ngIf="action === ActionButton.ADD">Add Product</button>
      <button cButton color="primary" type="submit" *ngIf="action === ActionButton.EDIT">Edit Product</button>
    </c-modal-footer>
  </form>
</c-modal>