<div class="page-container">

  <div class="card-container">
    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-blue">order_approve</span>
      </div>
      <div class="card-content">
        <div class="card-value">100</div>
        <div class="card-label">Assign Stock Count</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-green">request_page</span>
      </div>
      <div class="card-content">
        <div class="card-value">900</div>
        <div class="card-label">Assign Stock Value</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined">assignment_ind</span>
      </div>
      <div class="card-content">
        <div class="card-value">100</div>
        <div class="card-label">Assign Employees</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-orange">delivery_truck_speed</span>
      </div>
      <div class="card-content">
        <div class="card-value">100</div>
        <div class="card-label">Assign Vehicles</div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-title">
      Sales Stocks
    </div>
    <div class="section-content">
      <div class="form-container">
        <div class="form-side-container">
          <form>
            <div class="dual-fields">
              <div class="form-group">
                <label for="companyName">Search Stock Name or ID</label>
                <div class="with-icon-right">
                  <input type="text" id="companyName" placeholder="Search Company Name or ID" />
                  <span class="input-icon material-symbols-outlined">search</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="table-scroll-x">
        <table class="universal-table">
          <thead>
            <tr>
              <th class="action triple"></th>
              <th class="fixed-width width-100">Shop ID</th>
              <th class="fill">Name</th>
              <th class="fixed-width width-180">Mobile</th>
              <th class="fill">Email</th>
              <th class="fill">Location</th>
              <th class="fixed-width width-180 ">Add Time</th>
            </tr>
          </thead>
          <tbody>

            <tr class="highlight">
              <td class="action triple">
                <span class=" material-symbols-outlined">edit</span>
                <span class=" delete material-symbols-outlined">delete</span>
                <span class=" delete material-symbols-outlined">block</span>
              </td>
              <td class="fixed-width width-100">9187</td>
              <td class="fill">Company Name</td>
              <td class="fixed-width width-180">07773784823</td>
              <td class="fill">Emailgmail.com</td>
              <td class="fill">NEGAMBO</td>
              <td class="fixed-width width-180 ">2024-02-12 05:59:25 PM</td>
            </tr>

            <tr>
              <td class="action triple">
                <span class=" material-symbols-outlined">edit</span>
                <span class=" delete material-symbols-outlined">delete</span>
                <span class=" success material-symbols-outlined">check</span>
              </td>
              <td class="fixed-width width-100">9187</td>
              <td class="fill">Company Name</td>
              <td class="fixed-width width-180">07773784823</td>
              <td class="fill">Emailgmail.com</td>
              <td class="fill">NEGAMBO</td>
              <td class="fixed-width width-180 ">2024-02-12 05:59:25 PM</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination-container">
        <div class="pagination-info">1-12 of 85 items</div>
        <div class="pagination-buttons">
          <button class="page-btn" disabled>
            <span class="material-symbols-outlined">
              chevron_left
            </span>
          </button>
          <button class="page-btn">1</button>
          <button class="page-btn active">2</button>
          <button class="page-btn">3</button>
          <button class="page-btn">4</button>
          <button class="page-btn">5</button>
          <span class="dots">...</span>
          <button class="page-btn">50</button>
          <button class="page-btn"><span class="material-symbols-outlined">
              chevron_right
            </span></button>
        </div>
      </div>
    </div>
  </div>

  <app-admin-report-explore title="Route"></app-admin-report-explore>

  <div class="section-container">
    <div class="sub-section-title">
      Assignment Details
    </div>
    <div class="section-content">
      <div class="info">
        <span class=" material-symbols-outlined">info</span>
        Select salesman,vehicle and route to the assignment date.
      </div>

      <div class="form-container margin-0">
        <div class="form-side-container">
          <form>
            <div class="dual-fields">
              <div class="form-group">
                <label for="date">Assign Date</label>
                <div class="with-icon-left">
                  <span class="input-icon material-symbols-outlined">calendar_today</span>
                  <input type="text" id="date" placeholder="Select date" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="slide-container">
        <div class="slide-content">


          <div class="subheading">
            <p>Employee Information</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="dual-fields">
                  <div class="form-group">
                    <label for="location">Item</label>
                    <select id="location">
                      <option disabled selected class="placholder-text">Empty</option>
                      <option value="entity1">Item 1</option>
                      <option value="entity2">Item 2</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="side-container">
              <div class="dark-container">
                <div class="lable-group">
                  <label>Product Code</label>
                  <div class="info">P/1101</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slide-content">

          <div class="subheading">
            <p>Route Information</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="dual-fields">
                  <div class="form-group">
                    <label for="location">Item</label>
                    <select id="location">
                      <option disabled selected class="placholder-text">Empty</option>
                      <option value="entity1">Item 1</option>
                      <option value="entity2">Item 2</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="side-container">
              <div class="dark-container">
                <div class="lable-group">
                  <label>Product Code</label>
                  <div class="info">P/1101</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slide-content">

          <div class="subheading">
            <p>Vehicle Information</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="dual-fields">
                  <div class="form-group">
                    <label for="location">Item</label>
                    <select id="location">
                      <option disabled selected class="placholder-text">Empty</option>
                      <option value="entity1">Item 1</option>
                      <option value="entity2">Item 2</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="side-container">
              <div class="dark-container">
                <div class="lable-group">
                  <label>Product Code</label>
                  <div class="info">P/1101</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-content">
      <div class="subheading">
        <p>Stock Items</p>
        <div class="line"></div>
      </div>

      <div class="info">
        <span class=" material-symbols-outlined">info</span>
        Add stocks and quantities to assign
      </div>

      <div class="dual">
        <div class="detail-view">
          <div class="subheading">
            <p>Stock List</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="dual-fields">
                  <div class="form-group">
                    <label for="companyName">Search Stock Name or ID</label>
                    <div class="with-icon-right">
                      <input type="text" id="companyName" placeholder="Search Company Name or ID" />
                      <span class="input-icon material-symbols-outlined">search</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="table-wrapper">
            <table class="universal-table">
              <thead>
                <tr>
                  <th class="fixed-width width-100">Product Name</th>
                  <th class="fill">Batch ID</th>
                  <th class="fixed-width width-180">Quantity</th>
                  <th class="fill">Status</th>
                  <th class="action triple"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="highlight">
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>

                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>

                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>
                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>
                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>

                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>
                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>

                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>
                <tr>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="action triple">
                    <span class="material-symbols-outlined">select_check_box</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="detail-view">
          <div class="subheading">
            <p>Selected Stock</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="dual-fields">
                  <div class="form-group">
                    <label for="companyName">Quantity to Add <span class="required">*</span></label>
                    <input type="text" id="companyName" placeholder="Enter Company Name" />
                  </div>
                </div>

                <div class="dual-fields">
                  <div class="form-group">
                    <label for="registrationID">Min Price<span class="required">*</span></label>
                    <input type="text" id="registrationID" placeholder="Enter Registration ID" />
                  </div>

                  <div class="form-group">
                    <label for="registrationID">Max Price<span class="required">*</span></label>
                    <input type="text" id="registrationID" placeholder="Enter Registration ID" />
                  </div>
                </div>

                <div class="dual-fields">
                  <div class="form-group">
                    <label for="registrationID">Location<span class="required">*</span></label>
                    <input type="text" id="registrationID" placeholder="Enter Registration ID" />
                  </div>

                  <div class="form-group">
                    <label for="registrationID">Batch ID<span class="required">*</span></label>
                    <input type="text" id="registrationID" placeholder="Enter Registration ID" />
                  </div>
                </div>

                <div class="dual-fields">
                  <div class="form-group">
                    <label for="registrationID">Expire Date<span class="required">*</span></label>
                    <input type="text" id="registrationID" placeholder="Enter Registration ID" />
                  </div>

                  <div class="form-group">
                    <label for="registrationID">Remarks<span class="required">*</span></label>
                    <input type="text" id="registrationID" placeholder="Enter Registration ID" />
                  </div>
                </div>

                <div class="dual-btn">
                  <button class="button secondary">
                    Add to List
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="section-content">
        <div class="subheading">
          <p>Temporary List</p>
          <div class="line"></div>
        </div>

        <div class="info">
          <span class=" material-symbols-outlined">info</span>
          Items you will add to stock in this list
        </div>

        <div class="form-container">
          <div class="table-scroll-x ">
            <table class="universal-table">
              <thead>
                <tr>
                  <th class="action triple"></th>
                  <th class="fixed-width width-100">Item ID</th>
                  <th class="fixed-width width-100">Batch ID</th>
                  <th class="fill">Quantity</th>
                  <th class="fixed-width width-180">Max Price</th>
                  <th class="fill">Min Price</th>
                </tr>
              </thead>
              <tbody>

                <tr class="highlight">
                  <td class="action triple">
                    <span class=" material-symbols-outlined">edit</span>
                    <span class=" delete material-symbols-outlined">delete</span>
                    <span class=" delete material-symbols-outlined">block</span>
                  </td>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="fill">Emailgmail.com</td>
                </tr>

                <tr>
                  <td class="action triple">
                    <span class=" material-symbols-outlined">edit</span>
                    <span class=" delete material-symbols-outlined">delete</span>
                    <span class=" success material-symbols-outlined">check</span>
                  </td>
                  <td class="fixed-width width-100">9187</td>
                  <td class="fill">Company Name</td>
                  <td class="fixed-width width-180">07773784823</td>
                  <td class="fill">Emailgmail.com</td>
                  <td class="fill">Emailgmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="side-container">
            <div class="dark-container">
              <div class="lable-group">
                <label>Batch Code</label>
                <div class="info">B/1101</div>
              </div>
              <div class="lable-group">
                <label>Manufacture Date</label>
                <div class="info">2021/01/01</div>
              </div>
              <div class="lable-group">
                <label>Expire Date</label>
                <div class="info">2022/01/01</div>
              </div>
              <div class="lable-group">
                <label>Duration</label>
                <div class="info">10 Days</div>
              </div>
            </div>

            <form>
              <div class="form-group">
                <label for="discount">Remark</label>
                <input type="text" id="discount" placeholder="Enter Remark" />
              </div>
              <div class="dual-btn no-top-space">
                <button class="button primary">
                  Confirm
                </button>

                <button class="button outline">
                  Clear
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>