<h6 class="mb-3 fw-bold">Bill List</h6>

<c-col xs="auto" class="mb-3">
  <div class="input-group">
    <input type="text" placeholder="Choose order date range" class="form-control" bsDaterangepicker
      [(ngModel)]="orderDateRange" (bsValueChange)="onDateRangeChange($event)"/>
    <span class="input-group-text bg-white">
      <svg cIcon name="cilCalendar" class="text-secondary"></svg>
    </span>
  </div>
</c-col>

<!-- <input type="text" class="form-control mb-3" placeholder="Search bill..." [(ngModel)]="billSearchTerm"
  (ngModelChange)="filterBills()" /> -->

<div class="d-flex flex-column">
  <c-card *ngFor="let bill of filteredBillList" class="shadow-sm route-card mb-2">
    <c-card-body (click)="viewBill(bill)" class="d-flex justify-content-between align-items-center py-2">
      <!-- Left Section -->
      <div class="d-flex flex-column">
        <div class="fw-semibold">Bill ID: {{ bill.orderReferenceNumber | empty }}</div>
        <small class="text-muted">Bill Date: {{ bill.orderDate | date:'mediumDate' }}</small>
        <small class="text-muted">Paid Date: {{ bill.paymentDate | date:'mediumDate' | empty}}</small>
        <small class="text-muted fw-semibold">Bill Amount: {{ bill.orderAmount | currency:'LKR ' }}</small>
      </div>

      <!-- Right Section -->
      <div class="d-flex align-items-center gap-2">
        <div class="mt-1">
          <span *ngIf="bill.paymentStatus === BillStatus.FULL_PAYMENT" class="badge bg-primary text-white px-2 py-1 ">
            Full Paid
          </span>
          <span *ngIf="bill.paymentStatus ===  BillStatus.PARTIAL_PAYMENT"
            class="badge bg-warning text-dark px-2 py-1 ">
            Partial Paid
          </span>
          <span *ngIf="bill.paymentStatus ===  BillStatus.PENDING" class="badge bg-danger text-white px-2 py-1">
            Pending
          </span>
        </div>
        <svg cIcon name="cilChevronRight" class="text-secondary"></svg>
      </div>
    </c-card-body>
  </c-card>

  <div *ngIf="!filteredBillList.length && billList.length" class="text-center text-muted py-3">
    No bills found
  </div>
</div>

<app-sales-empty-data name="Bills" *ngIf="!billList.length"></app-sales-empty-data>