.material-symbols-outlined {
    &.icon-red {
        color: var(error-700);
    }
    
    &.icon-yellow {
        color: var(--warning-700);
    }
    
    &.icon-green {
        color: var(--success-600);
    }
    
    &.icon-blue {
        color: var(--info-700);
    }

    &.icon-orange {
        color: var(--secondary-700);
    }
    
   
}

