<div class="page-container">

  <div class="greeting-container">
    <div class="greeting">Good Morning</div>
    <div class="date-time">
      <div class="date">June 09, 2025</div>
      <div class="time">09:23 AM</div>
    </div>
    <div class="gradient-content"></div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-green">payments</span>
      </div>
      <div class="card-content">
        <div class="card-value">LKR 10,000</div>
        <div class="card-label">Revenue</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-green">analytics</span>
      </div>
      <div class="card-content">
        <div class="card-value">LKR 1,284</div>
        <div class="card-label">Weekly Sales</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-orange">shopping_cart</span>
      </div>
      <div class="card-content">
        <div class="card-value">10</div>
        <div class="card-label">Pending Orders</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-yellow">Receipt</span>
      </div>
      <div class="card-content">
        <div class="card-value">20</div>
        <div class="card-label">Customer Count</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-blue">receipt</span>
      </div>
      <div class="card-content">
        <div class="card-value">LKR 19,500</div>
        <div class="card-label">Pending Bill Amount</div>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-outlined icon-green">data_exploration</span>
      </div>
      <div class="card-content">
        <div class="card-value">12.5%</div>
        <div class="card-label">MoM Growth</div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-title">
      Last 5 Invoice
    </div>
    <div class="section-content">
      <table class="universal-table">
        <thead>
          <tr>
            <th class="fill">Created By</th>
            <th class="fixed-width width-100">Invoice ID</th>
            <th class="fill">Rep/Shop</th>
            <th class="fixed-width width-200">Invoice Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fill">NUWAN MANJUAL <br>
              2025-06-09 08:31:17 PM</td>
            <td class="fixed-width width-100">12490</td>
            <td class="fill">SS010 - ANURADHPURA ANURADHPURA
              THARIDUMOTORS</td>
            <td class="fixed-width width-200">4,500.00</td>
          </tr>
          <tr>
            <td class="fill">NUWAN MANJUAL <br>
              2025-06-09 08:31:17 PM</td>
            <td class="fixed-width width-100">12490</td>
            <td class="fill">SS010 - ANURADHPURA ANURADHPURA
              THARIDUMOTORS</td>
            <td class="fixed-width width-200">4,500.00</td>
          </tr>
          <tr>
            <td class="fill">NUWAN MANJUAL <br>
              2025-06-09 08:31:17 PM</td>
            <td class="fixed-width width-100">12490</td>
            <td class="fill">SS010 - ANURADHPURA ANURADHPURA
              THARIDUMOTORS</td>
            <td class="fixed-width width-200">4,500.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="section-container">
    <div class="section-title">
      Last 10 Payment
    </div>
    <div class="section-content">
      <table class="universal-table">
        <thead>
          <tr>
            <th class="fixed-width width-200">Status</th>
            <th class="fill">Shop</th>
            <th class="fixed-width width-100">Invoice</th>
            <th class="fixed-width width-200">Amount</th>
            <th class="fill">Payment Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="show-status fixed-width width-200">
              <span class="icon-tag success">
                <span class="material-symbols-outlined">check</span>Completed</span>
            </td>
            <td class="fill">DIMUTHU MOTORS</td>
            <td class="fixed-width width-100">12490</td>
            <td class="fixed-width width-200">4,500.00</td>
            <td class="fill">2025-06-06 04:55:39 PM</td>
          </tr>
          <tr>
            <td class="show-status fixed-width width-200">
              <span class="icon-tag failed">
                <span class="material-symbols-outlined">check_indeterminate_small</span>Rejected</span>
            </td>
            <td class="fill">DIMUTHU MOTORS</td>
            <td class="fixed-width width-100">12490</td>
            <td class="fixed-width width-200">4,500.00</td>
            <td class="fill">2025-06-06 04:55:39 PM</td>
          </tr>
          <tr>
            <td class="show-status fixed-width width-200">
              <span class="icon-tag success">
                <span class="material-symbols-outlined">check</span>Completed</span>
            </td>
            <td class="fill">DIMUTHU MOTORS</td>
            <td class="fixed-width width-100">12490</td>
            <td class="fixed-width width-200">4,500.00</td>
            <td class="fill">2025-06-06 04:55:39 PM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <table class="universal-table">
    <thead>
      <tr>
        <th class="checkbox"><input type="checkbox" /></th>
        <th class="fill">User</th>
        <th class="fixed-width width-100">ID</th>
        <th class="fill">Email</th>
        <th class="fixed-width 200">Status</th>
        <th class="fixed-width 200">Status</th>
        <th class="action dual"></th>
        <th class="action dual">Actions</th>
        <th class="action triple">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="checkbox"><input type="checkbox" /></td>
        <td class="fill">MADUSHIKA D.O.D</td>
        <td class="fixed-width width-100">#342F</td>
        <td class="fill">madushiexample.com</td>
        <td class="show-status fixed-width 200">
          <span class="background-tag success">Completed</span>
        </td>
        <td class="show-status fixed-width 200">
          <span class="icon-tag success">
            <span class="material-symbols-outlined">search</span>Completed</span>
        </td>
        <td class="action dual">
          <span class="delete material-symbols-outlined">search</span>
          <span class="material-symbols-outlined">search</span>
        </td>
      </tr>
    </tbody>
  </table> -->

  <!-- <button class="button primary with-icon left">
    <span class="material-symbols-outlined">search</span>
    hello
  </button>

  <button class="button outline with-icon left">
    <span class="material-symbols-outlined">search</span>
    hello
  </button>

  <button class="icon-button">
    <span class="material-symbols-outlined">search</span>
  </button>

  <button class="icon-button logout">
    <span class="material-symbols-outlined">search</span>
  </button> -->

</div>