<h6 cTextColor="secondary">OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Return Stock'" class="mb-3" color="warning" padding value="100">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilCart" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> Today</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem>Today</a>
              <a cDropdownItem>This Week</a>
              <a cDropdownItem>This Month</a>
              <a cDropdownItem>This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Return Stock Value'" class="mb-3" color="danger" padding value="50">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilMoney" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> Today</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem>Today</a>
              <a cDropdownItem>This Week</a>
              <a cDropdownItem>This Month</a>
              <a cDropdownItem>This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Return Bring Employees'" class="mb-3" color="secondary" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilContact" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> Today</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem>Today</a>
              <a cDropdownItem>This Week</a>
              <a cDropdownItem>This Month</a>
              <a cDropdownItem>This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Return Bring Vehicles'" class="mb-3" color="info" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTruck" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> Today</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem>Today</a>
              <a cDropdownItem>This Week</a>
              <a cDropdownItem>This Month</a>
              <a cDropdownItem>This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Return Stock List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openReturnStockView()">+ Add Return Stock</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputEmail4">Search Sale Stock</label>
        <input cFormControl id="inputEmail4" type="email" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="button" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            Product ID
          </th>
          <th>Description</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Min Sale Price</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!pagedUsers || pagedUsers.length === 0">
          <td colspan="6" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let user of pagedUsers; index as i">
          <td class="text-center">
            P12
          </td>
          <td>
            Description
          </td>
          <td class="text-center">
            20
          </td>
          <td class="text-center">
            LKR 10,000
          </td>
          <td class="text-center">
            <div class="fw-semibold text-nowrap">LKR 1,230</div>
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit">
              <svg cIcon name="cilPencil"></svg>
            </button>

            <!-- Delete -->
            <button (click)="delete()" cButton color="danger" size="sm" variant="ghost" title="Delete">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="pagedUsers.length !== 0" [totalItems]="users.length" [(pageSize)]="pageSize"
      [(currentPage)]="currentPage" (currentPageChange)="goToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
  </c-card-body>

</c-card>


<app-view-return-stock #returnStockModal></app-view-return-stock>