<div class="header-container">
  <div class="logo">
      <img src="../../../assets/images/company-logo.jpeg" alt="prime logo" />
  </div>
  <div class="header-right-container">
      <button class="icon-button">
          <span class="material-symbols-outlined">settings</span>
      </button>

      <div class="header-profile-container">
          <div class="profile-image">PD</div>
          <div class="profile-detail">
              <div class="name">Hasala Kumarasiri</div>
              <div class="role">System Admin</div>
          </div>
          <span class="see-more material-symbols-outlined">arrow_forward_ios</span>
      </div>

      <button class="icon-button logout">
          <span class="material-symbols-outlined">logout</span>
      </button>

  </div>
</div>