<div class="login-container">
    <div class="login-content">
        <div class="logo">
            <img src="../../../assets/images/company-logo.jpeg" alt="prime logo" />
        </div>
        <div class="login-body">

            <ng-container *ngIf="screen=='main'">
                <form class="login-form">
                    <div class="form-group">
                        <label for="firstName">Owner’s First Name<span class="required">*</span></label>
                        <input type="text" id="firstName" placeholder="Enter First Name" />
                    </div>

                    <div class="form-group">
                        <label for="companyName">Password</label>
                        <div class="with-icon-right">
                            <input type="text" id="companyName" placeholder="Enter Password" />
                            <span class="input-icon material-symbols-outlined">visibility_off</span>
                        </div>
                        <div class="bottom-text-btn">Forgot Password</div>
                    </div>

                    <button class="button primary full-width">
                        Login
                    </button>
                </form>

            </ng-container>

            <ng-container *ngIf="screen=='Recovery'">
                <div class="login-subtitle">Password Recovery</div>
                <div class="login-text">Enter the Email address you provide when you registered. A new temporary
                    password will be provided will be sent to your email address</div>

                <form class="login-form">
                    <div class="form-group">
                        <label for="email">Email<span class="required">*</span></label>
                        <input type="text" id="email" placeholder="username@gmail.com" />
                    </div>

                    <button class="button primary full-width">
                        Send Password
                    </button>
                </form>

            </ng-container>

            <ng-container *ngIf="screen=='Recovery_2'">
                <div class="login-subtitle">
                    <span class="input-icon material-symbols-outlined">arrow_left_alt</span>
                    Password Recovery
                </div>
                <div class="login-text">Enter the temporary password along with the New password for the user;
                    <b>PasanD</b> .</div>

                <form class="login-form">
                    <div class="form-group">
                        <label for="tempPassword">Temporary Password</label>
                        <div class="with-icon-right">
                            <input type="text" id="tempPassword" placeholder="Enter Temporary Password" />
                            <span class="input-icon material-symbols-outlined">visibility_off</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <div class="with-icon-right">
                            <input type="text" id="newPassword" placeholder="Enter New Password" />
                            <span class="input-icon material-symbols-outlined">visibility_off</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <div class="with-icon-right">
                            <input type="text" id="confirmPassword" placeholder="Enter Confirm Password" />
                            <span class="input-icon material-symbols-outlined">visibility_off</span>
                        </div>
                    </div>

                    <button class="button primary full-width">
                        Confirm
                    </button>
                </form>

            </ng-container>

        </div>
        <div class="poweredby-logo">
            System powered by
            <img src="../../../assets/images/code_launch_full.svg" alt="code launch">
        </div>
    </div>
</div>
<app-footer />