<h6 cTextColor="secondary">OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Full Payment'" class="mb-3" color="primary" padding
      [value]="'LKR ' + (getFullPaymentReceived() | numberSeparate)">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilMoney" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> {{ periods['fullPayment'] === 'TODAY' ? 'Today' : periods['fullPayment'] ===
            'WEEK' ?
            'This Week' : periods['fullPayment'] === 'MONTH' ? 'This Month' : 'This Year' }}</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('fullPayment', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('fullPayment', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('fullPayment', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('fullPayment', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Partial Payment'" class="mb-3" color="success" padding
      [value]="'LKR ' + (getPartalPaymentReceived() | numberSeparate)">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilMoney" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> {{ periods['partialPayment'] === 'TODAY' ? 'Today' : periods['partialPayment']
            === 'WEEK' ?
            'This Week' : periods['partialPayment'] === 'MONTH' ? 'This Month' : 'This Year' }}</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('partialPayment', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('partialPayment', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('partialPayment', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('partialPayment', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Pending amount'" class="mb-3" color="warning" padding
      [value]="'LKR ' + (getPendingTotalAmount() | numberSeparate)">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilClock" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> {{ periods['pendingPayment'] === 'TODAY' ? 'Today' : periods['pendingPayment']
            === 'WEEK' ?
            'This Week' : periods['pendingPayment'] === 'MONTH' ? 'This Month' : 'This Year' }}</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('pendingPayment', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('pendingPayment', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('pendingPayment', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('pendingPayment', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Discount'" class="mb-3" color="secondary" padding
      [value]="'LKR ' + (getDiscountTotalAmount() | numberSeparate)">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTags" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> {{ periods['discount'] === 'TODAY' ? 'Today' : periods['discount']
            === 'WEEK' ?
            'This Week' : periods['discount'] === 'MONTH' ? 'This Month' : 'This Year' }}</div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('discount', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('discount', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('discount', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('discount', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Payments</h4>
      </c-col>
      <!-- <c-col xs="auto" class="mb-4">
        <form>
          <c-button-group class="float-end" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openPaymentView()">+ Add Payment</button>
      </c-col> -->
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputPaymentValue">Search Payment</label>
        <input cFormControl id="inputPaymentValue" type="text" formControlName="inputPaymentValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputCustomerValue">Search Customer</label>
        <input cFormControl id="inputCustomerValue" type="text" formControlName="inputCustomerValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputDriverValue">Search Driver</label>
        <input cFormControl id="inputDriverValue" type="text" formControlName="inputDriverValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="status">Status</label>
        <select cFormControl id="status" class="form-select" formControlName="status">
          <option *ngFor="let status of statusList" [value]="status['code']">{{ status['description'] }}</option>
        </select>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchForm.dirty && searchForm.value && hasAnyValue()" cButton type="button" variant="outline"
          color="danger" (click)="onClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info" (click)="onExport()">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            Order ID
          </th>
          <th>Customer</th>
          <th class="text-center">Driver</th>
          <th class="text-center">Paid Amount</th>
          <th class="text-center">Type</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!paymentList || paymentList.length === 0">
          <td colspan="8" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let payment of paymentList; index as i">
          <td class="text-center">
            {{ payment.orderId | empty }}
          </td>
          <td>
            {{ payment.customerName | empty}}
          </td>
          <td class="text-center">
            {{ payment.employeeName | empty }}
          </td>
          <td class="text-center">
            {{ payment.paidAmount | numberSeparate}}
          </td>
          <td class="text-center">
            {{ payment.paymentType | empty}}
          </td>
          <td class="text-center">
            <div class="small text-medium-emphasis"> {{payment.paymentDate | date:'short'}} </div>
            <c-badge *ngIf="payment.orderPaymentStatus === BillStatus.PARTIAL_PAYMENT" color="warning"> Partial Payment
            </c-badge>
            <c-badge *ngIf="payment.orderPaymentStatus === BillStatus.FULL_PAYMENT" color="primary"> Full Payment
            </c-badge>
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openEditViewPaymentModal(ActionButton.VIEW,payment)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <button *ngIf="payment.orderPaymentStatus === BillStatus.PARTIAL_PAYMENT" cButton color="warning" size="sm"
              variant="ghost" class="me-2" title="Edit" (click)="openEditViewPaymentModal(ActionButton.EDIT,payment)">
              <svg cIcon name="cilPencil"></svg>
            </button>

            <!-- Delete -->
            <!-- <button (click)="delete()" cButton color="danger" size="sm" variant="ghost" title="Delete">
              <svg cIcon name="cilTrash"></svg>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="count !== 0" [totalItems]="count" [(pageSize)]="pageSize" [(currentPage)]="currentPage"
      (currentPageChange)="goToPage($event)" (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
  </c-card-body>
</c-card>

<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0">Revenue Growth Overview</h4>
        <div class="small text-medium-emphasis">2025 - 2024</div>
      </c-col>
    </c-row>
    <c-chart [height]="300" type="line" [data]="chartLineData" [options]="chartOptions"></c-chart>
  </c-card-body>
</c-card>

<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        User-wise Collection
      </c-card-header>
      <c-col class="mt-4 d-flex justify-content-end" m="7">
        <form>
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-card-body>
        <c-chart [height]="300" type="bar" [options]="chartOptions" [data]="chartBarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Employee-wise Collection
      </c-card-header>
      <c-col class="mt-4 d-flex justify-content-end" m="7">
        <form>
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-card-body>
        <c-chart [height]="300" type="bar" [options]="chartOptions" [data]="chartBarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Route-wise Collection
      </c-card-header>
      <c-col class="mt-4 d-flex justify-content-end" m="7">
        <form>
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-card-body>
        <c-chart [height]="300" type="bar" [options]="chartOptions" [data]="chartBarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Collection by Payment Mode
      </c-card-header>
      <c-col class="mt-4 d-flex justify-content-end" m="7">
        <form>
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-card-body>
        <c-chart [height]="300" type="pie" [options]="chartOptions" [data]="chartPieData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<app-edit-view-payment (tableRefresh)="onRefresh()" #editViewPaymentModal></app-edit-view-payment>