<div class="navigation-bar-container">

    <!-- Dashboard ------------------------------------------------------------->
    <div class="menu-option-container">
        <button class="menu-option" [class.selected]="selectedMenu==='home'" (click)="selectedMenu = 'home'">
            <div class="right">
                <span class="material-symbols-outlined">home</span>
                Home
            </div>
            <span class="material-symbols-outlined">keyboard_arrow_right</span>
        </button>
    </div>

    <!-- Employees ------------------------------------------------------------->
    <!-- menu-option-container indicates one single option where sub option are also avaible -->
    <div class="menu-option-container">
        <button class="menu-option" [class.selected]="selectedMenu==='Invoices'" (click)="selectedMenu = 'Invoices'">
            <div class="right">
                <span class="material-symbols-outlined">assignment_ind
                </span>
                Employees
            </div>
            <span class="material-symbols-outlined" *ngIf="selectedMenu != 'Invoices'">keyboard_arrow_right</span>
            <span class="material-symbols-outlined" *ngIf="selectedMenu == 'Invoices'">keyboard_arrow_down</span>
        </button>
        <div class="sub-option-container" *ngIf="selectedMenu === 'Invoices'">

            <div class="sub-option-right"></div>

            <div class="sub-option-left">
                <button class="sub-options" [class.selected]="selectedSub==='Create Invoice'"
                    (click)="selectedSub = 'Create Invoice'">
                    Create Invoice
                </button>

                <button class="sub-options" [class.selected]="selectedSub==='Invoice List'"
                    (click)="selectedSub = 'Invoice List'">
                    Invoice List
                </button>

                <button class="sub-options" [class.selected]="selectedSub==='Invoice Payment'"
                    (click)="selectedSub = 'Invoice Payment'">
                    Invoice Payment
                </button>

                <button class="sub-options" [class.selected]="selectedSub==='Payment List'"
                    (click)="selectedSub = 'Payment List'">
                    Payment List
                </button>

            </div>
        </div>
    </div>

    <!-- Entity Compliance ------------------------------------------------------------->
    <div class="menu-option-container">
        <button class="menu-option" [class.selected]="selectedMenu==='Entity'" (click)="selectedMenu = 'Entity'">
            <div class="right">
                <span class="material-symbols-outlined">groups</span>
                Entity Compliance
            </div>
            <span class="material-symbols-outlined" *ngIf="selectedMenu != 'Entity'">keyboard_arrow_right</span>
            <span class="material-symbols-outlined" *ngIf="selectedMenu == 'Entity'">keyboard_arrow_down</span>
        </button>
        <div class="sub-option-container" *ngIf="selectedMenu === 'Entity'">

            <div class="sub-option-right"></div>

            <div class="sub-option-left">
                <button class="sub-options" [class.selected]="selectedSub==='Add New Entity'"
                    (click)="selectedSub = 'Add New Entity'">
                    Add New Entity
                </button>

                <button class="sub-options" [class.selected]="selectedSub==='Entity List'"
                    (click)="selectedSub = 'Entity List'">
                    Entity List
                </button>

            </div>
        </div>
    </div>

</div>