<div class="navigation-bar-container">

    <!-- Dashboard ------------------------------------------------------------->
    <div class="menu-option-container">
        <button routerLink="/admin/post-login/dashboard" routerLinkActive="selected" (click)="selectedMenu = 'Home'"
            class="menu-option">
            <div class="right">
                <span class="material-symbols-outlined">home</span>
                Home
            </div>
        </button>
    </div>

    <!-- Employees ------------------------------------------------------------->
    <div class="menu-option-container">
        <button routerLink="/admin/post-login/employees" routerLinkActive="selected"
            (click)="selectedMenu = 'Employees'" class="menu-option">
            <div class="right">
                <span class="material-symbols-outlined">assignment_ind
                </span>
                Employees
            </div>
        </button>
    </div>

     <!-- vehicles ------------------------------------------------------------->
     <div class="menu-option-container">
        <button routerLink="/admin/post-login/vehicles" routerLinkActive="selected" (click)="selectedMenu = 'Vehicles'"
            class="menu-option">
            <div class="right">
                <span class="material-symbols-outlined">local_shipping
                </span>
                Vehicles
            </div>
        </button>
    </div>

    <!-- Customer & Routes ------------------------------------------------------------->
    <div class="menu-option-container">
        <button routerLink="/admin/post-login/customer-routes" routerLinkActive="selected"
            (click)="selectedMenu = 'CustomerRoutes'" class="menu-option">
            <div class="right">
                <span class="material-symbols-outlined">route
                </span>
                Customer & Routes
            </div>
        </button>
    </div>

    <!-- Alerts ------------------------------------------------------------->
    <div class="menu-option-container">
        <button routerLink="/admin/post-login/alerts" routerLinkActive="selected" (click)="selectedMenu = 'Alerts'"
            class="menu-option">
            <div class="right">
                <span class="material-symbols-outlined">notifications
                </span>
                Alerts
            </div>
        </button>
    </div>

    <!-- Inventory -->
    <div class="menu-option-container">
        <button class="menu-option" [class.selected]="selectedMenu==='Inventory'" (click)="selectedMenu = 'Inventory'">
            <div class="right">
                <span class="material-symbols-outlined">Inventory</span>
                Inventory
            </div>
            <span class="material-symbols-outlined" *ngIf="selectedMenu !== 'Inventory'">keyboard_arrow_right</span>
            <span class="material-symbols-outlined" *ngIf="selectedMenu === 'Inventory'">keyboard_arrow_down</span>
        </button>
        <div class="sub-option-container" *ngIf="selectedMenu === 'Inventory'">
            <div class="sub-option-right"></div>

            <div class="sub-option-left">
                <button class="sub-options" routerLink="/admin/post-login/inventory/product"
                    routerLinkActive="selected">
                    Product Management
                </button>

                <button class="sub-options" routerLink="/admin/post-login/inventory/stock" routerLinkActive="selected">
                    Stock Management
                </button>

                <button class="sub-options" routerLink="/admin/post-login/inventory/sales-stock" routerLinkActive="selected">
                   Sales Stock Assign
                </button>

                <button class="sub-options" routerLink="/admin/post-login/inventory/return-stock" routerLinkActive="selected">
                    Stock Return
                 </button>
            </div>
        </div>
    </div>

    <!-- Entity Compliance ------------------------------------------------------------->
    <!-- <div class="menu-option-container">
        <button class="menu-option" [class.selected]="selectedMenu==='Entity'" (click)="selectedMenu = 'Entity'">
            <div class="right">
                <span class="material-symbols-outlined">groups</span>
                Entity Compliance
            </div>
            <span class="material-symbols-outlined" *ngIf="selectedMenu != 'Entity'">keyboard_arrow_right</span>
            <span class="material-symbols-outlined" *ngIf="selectedMenu == 'Entity'">keyboard_arrow_down</span>
        </button>
        <div class="sub-option-container" *ngIf="selectedMenu === 'Entity'">

            <div class="sub-option-right"></div>

            <div class="sub-option-left">
                <button class="sub-options" [class.selected]="selectedSub==='Add New Entity'"
                    (click)="selectedSub = 'Add New Entity'">
                    Add New Entity
                </button>

                <button class="sub-options" [class.selected]="selectedSub==='Entity List'"
                    (click)="selectedSub = 'Entity List'">
                    Entity List
                </button>

            </div>
        </div>
    </div> -->
</div>