<h6 cTextColor="secondary">OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total'" class="mb-3" color="primary" padding [value]="totalCount">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTruck" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

   <c-col>
    <c-widget-stat-f [title]="'Active'" class="mb-3" color="success" padding [value]="activeCount">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTruck" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Deactivated'" class="mb-3" color="warning" padding [value]="deactivateCount">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTruck" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Suspended'" class="mb-3" color="danger" padding [value]="suspendCount">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTruck" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Vehicle List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openVehicleView(ActionButton.ADD)">+ Add Vehicle</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Vehicle</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchForm.dirty && searchForm.value && hasAnyValue()" cButton type="button" variant="outline"
          color="danger" (click)="onClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            ID
          </th>
          <th>
            Vehicle No
          </th>
          <th class="text-center">Vehicle Type</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!vehicleList || vehicleList.length === 0">
          <td colspan="6" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let vehicle of vehicleList; index as i">
          <td class="text-center">
            {{vehicle.vehicleId | empty}}
          </td>
          <td>
            {{vehicle.vehicleNumber | empty}}
          </td>
          <td class="text-center">
            {{getVehicleType(vehicle.vehicleCode.split('-')[0]) | empty}}
          </td>
          <td class="text-center">
            {{vehicle.statusDescription | empty}}
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openVehicleView(ActionButton.VIEW,vehicle)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit"
              (click)="openVehicleView(ActionButton.EDIT,vehicle)">
              <svg cIcon name="cilPencil"></svg>
            </button>

            <!-- Delete -->
            <button cButton color="danger" size="sm" variant="ghost" title="Delete"
              (click)="onDeleteVehicle(vehicle.vehicleId)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="count !== 0" [totalItems]="count" [(pageSize)]="pageSize" [(currentPage)]="currentPage"
      (currentPageChange)="goToPage($event)" (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
  </c-card-body>
</c-card>


<app-add-edit-view-vehicle (tableRefresh)="onRefresh()" #addEditViewVehicleModal></app-add-edit-view-vehicle>