<c-modal id="liveDemoModal" size="lg" alignment="center" class="modal-scrollable" [visible]="visible"
  (visibleChange)="onChangeModalVisibility($event)">
  <form [formGroup]="alertForm" (ngSubmit)="onSubmit()">
    <c-modal-header>
      <h5 cModalTitle>Add New Alert</h5>
      <button (click)="onCloseModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-row class="g-3">
        <c-col md="6">
          <label cLabel for="recipientUserId">Recipient Employee</label>
          <select cFormControl id="recipientUserId" class="form-select" formControlName="recipientUserId" appValidate
            fieldName="Recipient Employee">
            <option value=null disabled selected>Select an Employee</option>
            <option *ngFor="let employee of employeeList" [value]="employee.userId">{{ employee.name }}</option>
          </select>
        </c-col>

        <c-col md="6">
          <label cLabel for="alertType">Alert Type</label>
          <select cFormControl id="alertType" class="form-select" formControlName="priority" appValidate
            fieldName="Alert Type">
            <option value=null disabled selected>Select an Alert Type</option>
            <option *ngFor="let alertType of alertTypeList" [value]="alertType['code']">{{ alertType['description'] }}
            </option>
          </select>
        </c-col>

        <c-col xs="12">
          <label cLabel for="title">Title</label>
          <input cFormControl id="title" formControlName="title" placeholder="Enter alert title" appValidate
            fieldName="Title" />
        </c-col>

        <c-col xs="12">
          <label cLabel for="message">Message</label>
          <textarea cFormControl id="message" rows="4" formControlName="message" placeholder="Enter alert message"
            appValidate fieldName="Message"></textarea>
        </c-col>
      </c-row>
    </c-modal-body>
    <c-modal-footer>
      <button type="button" (click)="onCloseModal()" cButton color="secondary">
        Close
      </button>
      <button type="submit" cButton color="primary">Send Alert</button>
    </c-modal-footer>
  </form>
</c-modal>