<c-modal id="liveDemoModal" size="lg" alignment="center" class="modal-scrollable" [visible]="visible"
  (visibleChange)="onChangeModalVisibility($event)">
  <form cForm [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <c-modal-header>
      <h5 cModalTitle> Add New Employee</h5>
      <button (click)="onCloseModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-row class="g-3">
        <h6 class="mb-3">Personal Information</h6>
        <c-col xs="12" *ngIf="previewUrl" class="text-center">
          <label class="d-block mb-1">Preview</label>
          <img [src]="previewUrl" alt="preview" class="img-thumbnail" />
        </c-col>
        <c-col xs="12">
          <label cLabel for="employeePhoto">Upload Photo</label>
          <input type="file" id="employeePhoto" accept="image/*" class="form-control" (change)="onFileSelected($event)"
            cFormControl formControlName="profileImage" appValidate fieldName="Upload Photo" />
        </c-col>
        <c-col xs="12">
          <label cLabel for="name">Name</label>
          <input cFormControl id="name" type="text" formControlName="name" appValidate fieldName="Name" />
        </c-col>
        <c-col md="6">
          <label cLabel for="nic">NIC</label>
          <input cFormControl id="nic" type="text" formControlName="nic" appValidate fieldName="NIC" />
        </c-col>
        <c-col xs="6">
          <label cLabel for="mobileNumber">Mobile Number</label>
          <input cFormControl id="mobileNumber" type="text" formControlName="mobileNumber" appValidate
            fieldName="Mobile Number" />
        </c-col>
        <c-col xs="6">
          <label cLabel for="email">Email</label>
          <input cFormControl id="email" type="email" formControlName="email" appValidate fieldName="Email" />
        </c-col>
        <c-col md="6">
          <label cLabel for="role">Role</label>
          <select cFormControl id="batch" class="form-select" formControlName="role" appValidate fieldName="Role">
            <option value="">Select Role</option>
            <option *ngFor="let role of roleList" [value]="role['value']">{{ role['title'] }}</option>
          </select>
        </c-col>
        <hr />
        <h6 class="mb-3 mt-3">Setup Account Credentials</h6>
        <c-col xs="12">
          <label cLabel for="username">Username</label>
          <input cFormControl id="username" type="text" formControlName="username" appValidate fieldName="Username" />
        </c-col>
        <c-col md="6">
          <label cLabel for="password">Password</label>
          <div class="input-group">
            <input cFormControl id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
              appValidate fieldName="Password" class="form-control" />

            <button type="button" class="btn btn-outline-secondary password-view" (click)="showPassword = !showPassword"
              tabindex="-1">
              <svg cIcon [name]="showPassword ? 'cilLockUnlocked' : 'cilLockLocked'"></svg>
            </button>
          </div>
        </c-col>

        <c-col md="6">
          <label cLabel for="password">Confirm Password</label>
          <div class="input-group">
            <input cFormControl id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword" appValidate fieldName="Confirm Password" class="form-control" />

            <button type="button" class="btn btn-outline-secondary password-view"
              (click)="showConfirmPassword = !showConfirmPassword" tabindex="-1">
              <svg cIcon [name]="showPassword ? 'cilLockUnlocked' : 'cilLockLocked'"></svg>
            </button>
          </div>
        </c-col>
      </c-row>
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" type="button" (click)="onCloseModal()">
        Close
      </button>
      <button cButton color="primary" type="submit">Add Employee</button>
    </c-modal-footer>
  </form>
</c-modal>