<h6 cTextColor="secondary">OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Sales'" class="mb-3" color="primary" padding
      [value]="'LKR ' + (getSalesValue() | numberSeparate)">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilBalanceScale" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary"> {{ periods['sales'] === 'TODAY' ? 'Today' : periods['sales'] ===
            'WEEK' ? 'This Week' : periods['sales'] === 'MONTH' ? 'This Month' : 'This Year' }}</div>
          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('sales', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('sales', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('sales', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('sales', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Completed Deliveries'" class="mb-3" color="success" padding
      [value]="getDeliveryCount()  + ' | ' + (getDeliveryTotalValue() | currency:'LKR ') ">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilTask" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary">
            {{ periods['delivery'] === 'TODAY' ? 'Today' : periods['delivery'] ===
            'WEEK' ? 'This Week' : periods['delivery'] === 'MONTH' ? 'This Month' : 'This Year' }}
          </div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('delivery', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('delivery', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('delivery', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('delivery', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Pending Deliveries'" class="mb-3" color="warning" padding
      [value]="getPendingDeliveryCount() + ' | ' + (getPendingDeliveryTotalValue() | currency:'LKR ')">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilClock" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-secondary">
            {{ periods['pending'] === 'TODAY' ? 'Today' : periods['pending'] ===
            'WEEK' ? 'This Week' : periods['pending'] === 'MONTH' ? 'This Month' : 'This Year' }}
          </div>

          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle color="transparent" class="p-0 text-secondary">
              <svg cIcon name="cilOptions"></svg>
            </button>
            <div cDropdownMenu>
              <a cDropdownItem (click)="setPeriod('pending', 'TODAY')">Today</a>
              <a cDropdownItem (click)="setPeriod('pending', 'WEEK')">This Week</a>
              <a cDropdownItem (click)="setPeriod('pending', 'MONTH')">This Month</a>
              <a cDropdownItem (click)="setPeriod('pending', 'YEAR')">This Year</a>
            </div>
          </c-dropdown>
        </div>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Sales History</h4>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchSaleForm" (ngSubmit)="onSaleSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputOrderValue">Search Order</label>
        <input cFormControl id="inputOrderValue" type="text" formControlName="inputOrderValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputCustomerValue">Search Customer</label>
        <input cFormControl id="inputCustomerValue" type="text" formControlName="inputCustomerValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputDriverValue">Search Driver</label>
        <input cFormControl id="inputDriverValue" type="text" formControlName="inputDriverValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="status">Status</label>
        <select cFormControl id="status" class="form-select" formControlName="status">
          <option *ngFor="let status of statusList" [value]="status['code']">{{ status['description'] }}</option>
        </select>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchSaleForm.dirty && searchSaleForm.value && hasAnySaleValue()" cButton type="button"
          variant="outline" color="danger" (click)="onSaleClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info" (click)="onSaleExport()">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            Order ID
          </th>
          <th>Customer</th>
          <th class="text-center">Route</th>
          <th class="text-center">Driver</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!saleList || saleList.length === 0">
          <td colspan="9" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let sale of saleList; index as i">
          <td class="text-center">
            {{ sale.orderId | empty }}
          </td>
          <td>
            <div>{{ sale.customerName | empty}}</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                {{sale.customerShop | empty}}
              </span>
            </div>
          </td>
          <td class="text-center">
            {{sale.routeName | empty}}
          </td>
          <td>
            <div>{{ sale.employeeName | empty}}</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                {{sale.vehicleNumber | empty}}
              </span>
            </div>
          </td>
          <td class="text-center">
            {{ sale.totalAmount | numberSeparate}}
          </td>
          <td class="text-center">
            <div class="small text-medium-emphasis">{{ sale.orderDate | date:'short' }}</div>
            <c-badge *ngIf="sale.paymentStatus === BillStatus.PARTIAL_PAYMENT" color="warning"> Partial Payment
            </c-badge>
            <c-badge *ngIf="sale.paymentStatus === BillStatus.FULL_PAYMENT" color="primary"> Full Payment </c-badge>
          </td>
          <td class="text-center">
            <c-alert color="info" class="alert-compact">
              {{ sale.statusDescription | empty}}
            </c-alert>
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openViewSaleModal(sale)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <!-- <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit">
              <svg cIcon name="cilPencil"></svg>
            </button> -->

            <!-- Delete -->
            <!-- <button (click)="delete()" cButton color="danger" size="sm" variant="ghost" title="Delete">
              <svg cIcon name="cilTrash"></svg>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="saleCount !== 0" [totalItems]="saleCount" [(pageSize)]="salePageSize"
      [(currentPage)]="currentSalePage" (currentPageChange)="goToSalePage($event)"
      (pageSizeChange)="onSalePageSizeChange($event)"></app-paginator>
  </c-card-body>

</c-card>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Delivery History</h4>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchSaleItemForm" (ngSubmit)="onSaleItemSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Item</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchSaleItemForm.dirty && searchSaleItemForm.value && hasAnySaleItemValue()" cButton
          type="button" variant="outline" color="danger" (click)="onSaleItemClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info" (click)="onSaleItemExport()">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            Item ID
          </th>
          <th>Name</th>
          <th class="text-center">Quantity Sold</th>
          <th class="text-center">Total Sale</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!saleItemList || saleItemList.length === 0">
          <td colspan="5" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let saleItem of saleItemList; index as i">
          <td class="text-center">
            {{ saleItem.itemId | empty }}
          </td>
          <td>
            {{ saleItem.itemName | empty }}

          </td>
          <td class="text-center">
            {{ saleItem.totalQuantitySold | empty }}
          </td>
          <td class="text-center">
            {{ saleItem.totalSalesAmount | numberSeparate }}
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openViewSaleItemModal(saleItem)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <!-- <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit">
              <svg cIcon name="cilPencil"></svg>
            </button> -->

            <!-- Delete -->
            <!-- <button (click)="delete()" cButton color="danger" size="sm" variant="ghost" title="Delete">
              <svg cIcon name="cilTrash"></svg>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="saleItemCount !== 0" [totalItems]="saleItemCount" [(pageSize)]="saleItemPageSize"
      [(currentPage)]="currentSaleItemPage" (currentPageChange)="goToSaleItemPage($event)"
      (pageSizeChange)="onSaleItemPageSizeChange($event)"></app-paginator>
  </c-card-body>

</c-card>

<!-- <c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0">Sales Growth Overview</h4>
        <div class="small text-medium-emphasis">2025 - 2024</div>
      </c-col>
    </c-row>
    <c-chart [height]="300" type="line" [data]="chartLineData" [options]="chartOptions"></c-chart>
  </c-card-body>
</c-card>

<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Deliveries by Route
      </c-card-header>
      <c-col class="mt-4 d-flex justify-content-end" m="7">
        <form>
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-card-body>
        <c-chart [height]="300" type="bar" [options]="chartOptions" [data]="chartBarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Top Product Contribution
      </c-card-header>
      <c-col class="mt-4 d-flex justify-content-end" m="7">
        <form>
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" type="radio" value="Day" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Day</label>

            <input class="btn-check" type="radio" value="Month" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Month</label>

            <input class="btn-check" type="radio" value="Year" />
            <label cButton cFormCheckLabel color="secondary" variant="outline">Year</label>
          </c-button-group>
        </form>
      </c-col>
      <c-card-body>
        <c-chart [height]="300" type="pie" [options]="chartOptions" [data]="chartPieData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->

<app-view-sale (tableRefresh)="onSaleRefresh()" #viewSaleModal></app-view-sale>
<app-view-sale-item (tableRefresh)="onSaleItemRefresh()" #viewSaleItemModal></app-view-sale-item>