@import 'assets/scss/variables';

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import 'assets/scss/layout';
@import 'assets/scss/fixes';
@import 'assets/scss/examples';


/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "~@ng-select/ng-select/themes/default.theme.css";

/* Custom styles */
@import 'assets/scss/custom';

/* Dark theme styles */
@import 'assets/scss/dark-theme';

body, .card, .nav, .sidebar, .header, .ng-select {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

