// @import 'assets/scss/common';
// @import 'assets/scss/theme';
@import 'assets/scss/common';
@import 'assets/scss/theme';
@import './node_modules/ngx-toastr/toastr';


// Font families

@font-face {
  font-family: rFont;
  src: url('assets/font/Inter_18pt-Regular.ttf');
}

@font-face {
  font-family: mFont;
  src: url('assets/font/Inter_18pt-Medium.ttf');
}

@font-face {
  font-family: sboFont;
  src: url('assets/font/Inter_18pt-SemiBold.ttf');
}

// ------------------------------------------------

.body-content {
  &::-webkit-scrollbar-track {
    background-color: var(--primary-200);
    transition: 0.3s;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--gray-50);
    transition: 0.3s;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-500);
    transition: 0.3s;
  }
}