<h6 cTextColor="secondary">OVERVIEW</h6>

<c-row>
  <c-col>
    <c-widget-stat-f [title]="'Total Products'" class="mb-3" color="primary" padding value="100">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilClone" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Active Products'" class="mb-3" color="success" padding value="50">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilClone" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>

  <c-col>
    <c-widget-stat-f [title]="'Suspended Products'" class="mb-3" color="danger" padding value="75">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg cIcon name="cilClone" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <c-row class="justify-content-between">
      <c-col sm="5">
        <h4 class="card-title mb-4" id="employee-list">Product List</h4>
      </c-col>
      <c-col xs="auto">
        <button cButton type="button" (click)="openProductView(ActionButton.ADD)">+ Add Product</button>
      </c-col>
    </c-row>
    <form cRow class="align-items-end mb-4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <c-col xs="auto" class="mb-2">
        <label cLabel for="inputValue">Search Product</label>
        <input cFormControl id="inputValue" type="text" formControlName="inputValue" />
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">From Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="fromDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2">
        <label cLabel for="datepicker">To Date</label>
        <div class="input-group">
          <input type="text" placeholder="Choose a date" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" formControlName="toDate" />
          <span class="input-group-text bg-white">
            <svg cIcon name="cilCalendar" class="text-secondary"></svg>
          </span>
        </div>
      </c-col>

      <c-col xs="auto" class="mb-2 d-flex align-items-center gap-2 flex-wrap">
        <button cButton type="submit" variant="outline" color="secondary">
          <svg cIcon name="cilSearch" class="me-2"></svg>Search
        </button>

        <button *ngIf="searchForm.dirty && searchForm.value && hasAnyValue()" cButton type="button" variant="outline"
          color="danger" (click)="onClear()">
          <svg cIcon name="cilX" class="me-2"></svg>Clear
        </button>

        <button cButton type="button" variant="outline" color="info">
          <svg cIcon name="cilCloudDownload" class="me-2"></svg>Export
        </button>
      </c-col>
    </form>

    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
      <thead cTableColor="light">
        <tr>
          <th class="text-center">
            Batch Code
          </th>
          <th>Product Name</th>
          <th class="text-center">
            <div>Price</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                (LKR)
              </span>
            </div>
          </th>
          <th class="text-center">
            <div>Min Price</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                (LKR)
              </span>
            </div>
          </th>
          <th class="text-center">
            <div>Total</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                (Quantity)
              </span>
            </div>
          </th>
          <th class="text-center">
            <div>Assigned Stock</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                (Quantity)
              </span>
            </div>
          </th>
          <th class="text-center">
            <div>Balance</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                (Quantity)
              </span>
            </div>
          </th>
          <th>
            <div>Data</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                (Manufacture & Expire)
              </span>
            </div>
          </th>
          <th class="text-center">Usable Days</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!productList || productList.length === 0">
          <td colspan="11" class="text-center text-muted py-3">
            No data available
          </td>
        </tr>
        <tr *ngFor="let product of productList; index as i">
          <td class="text-center">
            {{product.batchCode | empty}}
          </td>
          <td>
            <div>{{product.productName | empty}}</div>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                {{product.description | empty}}
              </span>
            </div>
          </td>
          <td class="text-center">
            {{product.price | numberSeparate}}
          </td>
          <td class="text-center">
            {{product.minSalesPrice | numberSeparate}}
          </td>
          <td class="text-center">
            {{product.quantityP | empty}}
          </td>
          <td class="text-center">
            {{product.assignedStockQuantityP | empty}}
          </td>
          <td class="text-center">
            {{product.balanceQuantityP | empty}}
          </td>
          <td>
            <div class="small text-medium-emphasis text-nowrap">
              <span>
                {{product.manufactureDate | empty}} - {{product.expiryDate | empty}}
              </span>
            </div>
          </td>
          <td class="text-center">
            {{product.usableDays | empty}}
          </td>
          <td class="text-center">
            <!-- View -->
            <button cButton color="info" size="sm" variant="ghost" class="me-2" title="View"
              (click)="openProductView(ActionButton.VIEW,product)">
              <svg cIcon name="cilCommand"></svg>
            </button>

            <!-- Edit -->
            <!-- <button cButton color="warning" size="sm" variant="ghost" class="me-2" title="Edit"
              (click)="openProductView(ActionButton.EDIT,product)">
              <svg cIcon name="cilPencil"></svg>
            </button> -->

            <!-- Delete -->
            <button (click)="onDeleteProduct(product.productId)" cButton color="danger" size="sm" variant="ghost"
              title="Delete">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="count !== 0" [totalItems]="count" [(pageSize)]="pageSize" [(currentPage)]="currentPage"
      (currentPageChange)="goToPage($event)" (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
  </c-card-body>


</c-card>


<app-add-view-product (tableRefresh)="onRefresh()" #addViewProductModal></app-add-view-product>