<div class="page-container">
  <div class="section-container">
    <div class="section-title">
      Add New Product
    </div>
    <div class="section-content">
      <div class="dual">
        <div class="detail-view">
          <div class="subheading">
            <p>Item Information</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="form-group">
                  <label for="location">Item</label>
                  <select id="location">
                    <option disabled selected class="placholder-text">Empty</option>
                    <option value="entity1">Item 1</option>
                    <option value="entity2">Item 2</option>
                  </select>
                </div>
              </form>
            </div>

            <div class="side-container">
              <div class="dark-container">
                <div class="lable-group">
                  <label>Product Code</label>
                  <div class="info">P/1101</div>
                </div>
                <div class="lable-group">
                  <label>Product Name</label>
                  <div class="info">Bread</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="detail-view">
          <div class="subheading">
            <p>Batch Information</p>
            <div class="line"></div>
          </div>

          <div class="form-container">
            <div class="form-side-container">
              <form>
                <div class="form-group">
                  <label for="location">Item</label>
                  <select id="location">
                    <option disabled selected class="placholder-text">Empty</option>
                    <option value="entity1">Item 1</option>
                    <option value="entity2">Item 2</option>
                  </select>
                </div>
              </form>
            </div>

            <div class="side-container">
              <div class="dark-container">
                <div class="lable-group">
                  <label>Batch Code</label>
                  <div class="info">B/1101</div>
                </div>
                <div class="lable-group">
                  <label>Manufacture Date</label>
                  <div class="info">2021/01/01</div>
                </div>
                <div class="lable-group">
                  <label>Expire Date</label>
                  <div class="info">2022/01/01</div>
                </div>
                <div class="lable-group">
                  <label>Duration</label>
                  <div class="info">10 Days</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="subheading">
        <p>Product Information</p>
        <div class="line"></div>
      </div>

      <div class="form-container">
        <div class="form-side-container">
          <form>
            <div class="dual-fields">
              <div class="form-group">
                <label for="companyName">Quantity <span class="required">*</span></label>
                <input type="text" id="companyName" placeholder="Enter Company Name" />
              </div>
            </div>

            <div class="dual-fields">
              <div class="form-group">
                <label for="registrationID">Min Price<span class="required">*</span></label>
                <input type="text" id="registrationID" placeholder="Enter Registration ID" />
              </div>

              <div class="form-group">
                <label for="registrationID">Max Price<span class="required">*</span></label>
                <input type="text" id="registrationID" placeholder="Enter Registration ID" />
              </div>

            </div>
            <div class="dual-btn">
              <button class="button primary">
                Add Product
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>