<div class="section-container">
  <div class="sub-section-title">
   {{title}} Report Explore
  </div>
  <div class="section-content">
    <div class="form-container">
      <div class="form-side-container">
        <form>
          <div class="dual-fields">
            <div class="form-group">
              <label for="date">From Date</label>
              <div class="with-icon-left">
                <span class="input-icon material-symbols-outlined">calendar_today</span>
                <input type="text" id="date" placeholder="Select date" />
              </div>
            </div>

            <div class="form-group">
              <label for="date">To Date</label>
              <div class="with-icon-left">
                <span class="input-icon material-symbols-outlined">calendar_today</span>
                <input type="text" id="date" placeholder="Select date" />
              </div>
            </div>

            <button class="button secondary outline with-icon left">
              <span class="material-symbols-outlined">download</span>
              Export
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>