<c-modal id="liveDemoModal" size="lg" alignment="center" class="modal-scrollable" [visible]="visible"
  (visibleChange)="onChangeModalVisibility($event)">
  <c-modal-header>
    <h5 cModalTitle> Add New Payment</h5>
    <button (click)="onCloseModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="onCloseModal()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Payment</button>
  </c-modal-footer>
</c-modal>